* {
  box-sizing: border-box;

}


.example__popup{

}
/* Style the search field */
form.example input[type=text] {
  align: center;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width:80%;
  background: #f1f1f1;

}

/* Style the submit button */
form.example button {

  float: left;
  width: 20%;
  padding: 10px ;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;

}

form.example button:hover {
  background: #0b7dda;

}

/* Clear floats */
form.example::after {

  content: "";
  clear: both;
  display: table;

}
.div {
margin:5%;
width: 90%;
height: 400px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.h1{
font-family: 'Indie Flower', cursive;
font-size: 60px;
color:black;
 text-shadow:0px 0px 20px #00c6ff


}

.Top_Results{
font-family: 'Indie Flower', cursive;
font-size: 60px;
margin: 3% 0px 0px 15%;

width:250px;
border-radius: 10px;
text-shadow: 4px 3px 0px white, 9px 8px 0px rgba(0,0,0,0.15);


}

.h2{
font-family: 'Indie Flower', cursive;
font-size: 25px;

}

.nd_page_Photo{
width: 5px;
height: 50px;
}

.Our_songs{
flex-direction: column;
}

.Our_photos{
flex-direction: row;
width:150px;
height:150px;
border-radius: 10px;

}
.Songs_Photos{
border:4px double black;
width: 20%;
}

.Name_Song{

  text-shadow: 1px 1px 1px silver,
               -1px 1px 1px silver;
  color: white;
  transition: all .5s;

  font-family: 'Courgette', cursive;
  color: darkblue;


  margin: 2% 0px 0px 5%;
  font-size:30px;
}

.Youtube_ico{
width: 12%;
height:10%;
float: right;
margin: 2% 5% 0px 0px;
}
.Lyrics_ico{
width: 12%;
height:75px;
float: right;
margin: 2% 7% 0px 0px;
}



h2:hover {
    text-shadow: -1px -1px 1px silver,
                 1px -1px 1px silver;
    color: red;
    }





.Song_by{
font-family: 'Mali', cursive;
margin: 2% 0px 0px 7%;
font-size:20px;
}

.div_menu{
 display: inline-block;
 max-width: 100%;
 height: auto;
 overflow: hidden;
}

.Name_Song_div{

width:60%;
height:70%;
flex-direction: row;

}

.li_class{
display: flex;
}

a {
  text-decoration: none;
}


body{
background: url("50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg");
}

.Body_index3{
background: url("background.jpg");
}

.Index3_h1{
font-size:50px;
}
